{% extends 'base.html' %}
{% load humanize %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb " All " "products-all" %}
{% endblock %}
{% block page_content %}
{% render_breadcrumbs %}
<h2>All Products</h2>

{% if object_list %}
<div class="row">
    
        {% for obj in  object_list %}
        <div class="col-4">
            <div class="card">
                <img src="/media/{{obj.main_image.image}}" class="p-2 card-img-top" alt="">
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'product-detail' obj.id %}">{{obj.name}}</a></h4>
                    <p class="card-text">
                        {{obj.description|truncatewords:20}}
                    </p>
                    <p>
                        IDR. {{obj.price|intcomma}}
                    </p>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    
</div>

{% if is_paginated %}
<div class="row my-4">
    <div class="col-12 ">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                    
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item"><a class="page-link" href="#">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                {% endif %}

              
            </ul>
          </nav>
    </div>
</div>
{% endif %}
    

{% else %}
<div class="row">
    <div class="col">
        <p>You don't have any products yet.</p>
    </div>
</div>
{% endif %}

{% endblock %}
    
    