{% extends 'base.html' %}
{% load humanize %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb " All" "products-all" %}
    {% breadcrumb object "product-detail" object.name  %}
{% endblock %}

{% block page_content %}
{% render_breadcrumbs %}
<div class="row my-4">
    <div class="col-6">
        <img src="/media/{{object.main_image.image}}" class="img-fluid" alt="">
    </div>
    <div class="col-6">
        <h4>{{object.name}}</h4>
        {{session_time}}
        <p class="card-text">
            {{object.description}}
        </p>
        <p>
            {{object.price|intcomma}}
        </p>
    </div>
</div>

<div class="my-4">
    <h3>Related Products</h3>
</div>
<div class="row my-4">
    
        
        {% if related_products %}
       
            {% for obj in related_products  %}

            <div class="col-3">
                <div class="card">
                    <img src="/media/{{obj.main_image.image}}" class="p-2 card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title"><a href="{% url 'product-detail' obj.id %}">{{obj.name}}</a></h4>
                        <p class="card-text">
                            {{obj.description|truncatechars:100}}
                        </p>
                        <p>
                            {{obj.price|intcomma}}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col">
                    <p>No related product</p>
                </div>
            </div>
        {% endif %}
    
</div>
{% endblock %}